doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title My Team Page
    link(href='https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="css/styles.css")
  body
  header.header
    h1.header__title The creative crew
    section.subtitle
      h2.subtitle__title Who we are
      p.subtitle__text We are team of creatively diverse.  driven.  innovative individuals working in various locations from the world.
  main.main
    figure.card
      .card__body
        img(src="images/photo1.png" alt="Bill Mahoney" ).card__img
        span(data-job="Product owner").card__job
        figcaption.card__name Bill Mahoney
    figure.card
      .card__body
        img(src="images/photo2.png" alt="Saba Cabrera" ).card__img
        span(data-job="Art director").card__job
        figcaption.card__name Saba Cabrera
    figure.card
      .card__body
        img(src="images/photo3.png" alt="Shae Le").card__img
        span(data-job="Tech Lead").card__job
        figcaption.card__name Shae Le
    figure.card
      .card__body
        img(src="images/photo4.png" alt="Skylah Lu").card__img
        span(data-job="UX Designer").card__job
        figcaption.card__name Skylah Lu
    figure.card
      .card__body
        img(src="images/photo5.png" alt="Griff Richards").card__img
        span(data-job="Developer").card__job
        figcaption.card__name Griff Richards
    figure.card
      .card__body
        img(src="images/photo6.png" alt="Stan John" ).card__img
        span(data-job="Developer").card__job
        figcaption.card__name Stan John
  footer.footer
    p.footer__text Carlos Díaz @ DevChallenges.io



